################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AOC/bin
/AOC/obj/x86
/.vs
